* {
	padding: 0;
	margin: 0;
	word-break: keep-all;
	text-decoration: none;
}

ul {
	width: 50px;
	height: 50px;
}

.img_back {
	background-image: url(img/indigo.jpeg);
	background-attachment: fixed;
}

body {
	background-image: url(img/back.png);
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}

.div_window {
	padding: 10px;
	bottom: 20vw;
	left: 50px;
	position: fixed;
}

.img {
	position: fixed;
	top: -8px;
	left: 150px;
}

.html, .img_back {
  width: 100%;  
  height: 100%;
  background-image: url(img/indigo.jpeg);
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  height: 100px;
}

h1 span {
  position: relative;
  top: 250px;
  display: inline-block;
  animation: bounce .3s ease infinite alternate;
  font-family: 'Titan One', cursive;
  font-size: 40px;
  color: #FFF;
  text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .4);
}

h1 span:nth-child(2) { animation-delay: .1s; }
h1 span:nth-child(3) { animation-delay: .2s; }
h1 span:nth-child(4) { animation-delay: .3s; }
h1 span:nth-child(5) { animation-delay: .4s; }
h1 span:nth-child(6) { animation-delay: .5s; }
h1 span:nth-child(7) { animation-delay: .6s; }
h1 span:nth-child(8) { animation-delay: .7s; }

@keyframes bounce {
  100% {
    top: 200px;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC,
                 0 8px 0 #CCC,
                 0 9px 0 #CCC,
                 0 50px 25px rgba(0, 0, 0, .2);
  }
}

.r-back {
	background-image: url(img/karki.png);
	background-attachment: fixed;
}
.r-back1 {
	background-attachment: fixed;
	background-color: burlywood;
	width: 100%;
	height: 30%;
}
.r-mudae1 {
	position: absolute;
	width: 300px;
	height: 50px;
	background-color: lightyellow;
	top: 160px;
	right: 0;
}
.r-mudae_ll {
	position: absolute;
	width: 5px;
	height: 200px;
	background-color: lightyellow;
	top: 0px;
	right: 5px;
}
.r-mudae_l {
	position: absolute;
	width: 5px;
	height: 200px;
	background-color: lightyellow;
	top: 0px;
	right: 280px;
}
.r-Table1 {
	position: absolute;
	width: 120px;
	height: 10px;
	background-color: saddlebrown;
	top: 150px;
	left: 150px;
}
.r-Table2 {
	position: absolute;
	width: 10px;
	height: 60px;
	background-color: saddlebrown;
	top: 150px;
	left: 205px;
}
.r-Table3 {
	position: absolute;
	width: 40px;
	height: 10px;
	background-color: saddlebrown;
	top: 210px;
	left: 190px;
}
.r-page2 {
	position: absolute;
	width: 50px;
	height: 60px;
	background-color: lightgray;
	bottom: 100px;
	left: 170px;
}
.r-page1 {
	position: absolute;
	width: 50px;
	height: 60px;
	background-color: darkgray;
	bottom: 90px;
	left: 180px;
}
.r-mmm {
	position: absolute;
	width: 260px;
	height: 160px;
	background-color: rebeccapurple;
	bottom: 90px;
	left: 300px;
}
.r-mmm1 {
	position: absolute;
	width: 10px;
	height: 60px;
	background-color: black;
	bottom: 140px;
	left: 410px;
}
.r-mmm2 {
	position: absolute;
	width: 20px;
	height: 25px;
	border-radius: 50px;
	background-color: gray;
	bottom: 180px;
	left: 405px;
}
.r-ha1 {
	position: absolute;
	width: 40px;
	height: 50px;
	background-color: saddlebrown;
	bottom: 70px;
	right: 40px;
}
.r-ha2 {
	position: absolute;
	width: 50px;
	height: 10px;
	background-color: saddlebrown;
	bottom: 110px;
	right: 35.5px;
}
.r-ha3 {
	position: absolute;
	width: 5px;
	height: 20px;
	background-color: greenyellow;
	bottom: 120px;
	right: 57px;
}
.r-ha4 {
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 5px;
	background-color: coral;
	bottom: 130px;
	right: 53.5px;
}
.container:hover + .p_1{
	display: block;
	left: 150px;
	top: 10px;
	z-index: 1;
}
.p_1 {
	position: absolute;
  padding: 15px 20px;
  background-color: #444444;
  border-radius: 5px;
  color: #ffffff;
  display: none;
  width: 230px;
}
.container:hover + .p_2{
	display: block;
	top: 30px;
	left: 360px;
	z-index: 1;
}
.p_2 {
	position: absolute;
  padding: 15px 20px;
  background-color: #444444;
  border-radius: 5px;
  color: #ffffff;
  display: none;
    width: 230px;
}
.container:hover + .p_3{
	display: block;
	top: 250px;
	left: 430px;
	z-index: 1;
}
.p_3 {
	position: absolute;
  padding: 15px 20px;
  background-color: #444444;
  border-radius: 5px;
  color: #ffffff;
  display: none;
    width: 230px;
}
.container:hover + .p_4{
	display: block;
	top: 50px;
	left: 250px;
	z-index: 1;
}
.p_4 {
	position: absolute;
  padding: 15px 20px;
  background-color: #444444;
  border-radius: 5px;
  color: #ffffff;
  display: none;
    width: 230px;
}
.container:hover + .p_5{
	display: block;
	top: 50px;
	left: 400px;
	z-index: 1;
}
.p_5 {
	position: absolute;
  padding: 15px 20px;
  background-color: #444444;
  border-radius: 5px;
  color: #ffffff;
  display: none;
    width: 230px;
}
.container:hover + .p_6{
	display: block;
	top: 300px;
	left: 100px;
	z-index: 1;
}
.p_6 {
	position: absolute;
  padding: 15px 20px;
  background-color: #444444;
  border-radius: 5px;
  color: #ffffff;
  display: none;
    width: 230px;
}
.container:hover + .p_7{
	display: block;
	top: 240px;
	left: 240px;
	z-index: 1;
}
.p_7 {
	position: absolute;
  padding: 15px 20px;
  background-color: #444444;
  border-radius: 5px;
  color: #ffffff;
  display: none;
    width: 230px;
}
.container:hover + .p_8{
	display: block;
	top: 300px;
	left: 380px;
	z-index: 1;
}
.p_8 {
	position: absolute;
  padding: 15px 20px;
  background-color: #444444;
  border-radius: 5px;
  color: #ffffff;
  display: none;
    width: 230px;
}
.container:hover + .p_9{
	display: block;
	top: 250px;
	left: 200px;
	z-index: 1;
}
.p_9 {
	position: absolute;
  padding: 15px 20px;
  background-color: #444444;
  border-radius: 5px;
  color: #ffffff;
  display: none;
    width: 230px;
}
.container:hover + .p_10{
	display: block;
	top: 250px;
	left: 320px;
	z-index: 1;
}
.p_10 {
	position: absolute;
  padding: 15px 20px;
  background-color: #444444;
  border-radius: 5px;
  color: #ffffff;
  display: none;
    width: 230px;
}

.korb_1 {
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	background-color: darkgray;
	top: 50px;
	left: 70px;
}
.korb_2 {
	position: absolute;
	width: 60px;
	height: 120px;
	border-radius: 10px;
	background-color: rgb(80, 80, 80);
	top: 120px;
	left: 75px;
}
.kim_1 {
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	background-color: rgb(216,128,74);
	top: 50px;
	left: 270px;
}
.kim_2 {
	position: absolute;
	width: 60px;
	height: 120px;
	border-radius: 10px;
	background-color: skyblue;
	top: 120px;
	left: 278px;
}
.mal_1 {
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	background-color: rgb(236,196,171);
	bottom: 300px;
	right: 18px;
}
.mal_2 {
	position: absolute;
	width: 60px;
	height: 120px;
	border-radius: 10px;
	background-color: lightyellow;
	bottom: 180px;
	right: 20px;
}
.new_1 {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	background-color: rgb(245,214,208);
	top: 10px;
	right: 210px;
}
.new_2 {
	position: absolute;
	width: 50px;
	height: 110px;
	border-radius: 10px;
	background-color: cadetblue;
	top: 70px;
	right: 215px;
}
.sev_1 {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	background-color: rgb(245,214,208);
	top: 10px;
	right: 30px;
}
.sev_2 {
	position: absolute;
	width: 50px;
	height: 110px;
	border-radius: 10px;
	background-color: black;
	top: 70px;
	right: 35px;
}
.ya0_1 {
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	background-color: rgb(236,196,171);
	top: 330px;
	left: 25px;
}
.ya0_2 {
	position: absolute;
	width: 60px;
	height: 120px;
	border-radius: 10px;
	background-color: rgb(71,71,71);
	top: 400px;
	left: 30px;
}
.ya7_1 {
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	background-color: rgb(236,196,171);
	top: 230px;
	left: 155px;
}
.ya7_2 {
	position: absolute;
	width: 60px;
	height: 120px;
	border-radius: 10px;
	background-color: rgb(71,71,71);
	top: 300px;
	left: 160px;
}
.g_1 {
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	background-color: rgb(123,78,65);
	top: 300px;
	left: 305px;
}
.g_2 {
	position: absolute;
	width: 60px;
	height: 120px;
	border-radius: 10px;
	background-color: midnightblue;
	top: 370px;
	left: 310px;
}
.lee_1 {
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	background-color: rgb(231,172,156);
	top: 260px;
	left: 490px;
}
.lee_2 {
	position: absolute;
	width: 90px;
	height: 120px;
	border-radius: 10px;
	background-color: black;
	top: 330px;
	left: 480px;
}
.jojo_1 {
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	background-color: rgb(237,204,170);
	top: 290px;
	left: 605px;
}
.jojo_2 {
	position: absolute;
	width: 60px;
	height: 120px;
	border-radius: 10px;
	background-color: gray;
	top: 360px;
	left: 610px;
}


.img_face {
	position: relative;
	background: radial-gradient( lightyellow 10%, yellow 90px, darkkhaki 10% );
	width : 200px;
	height : 200px;
	border-radius: 50%;
	bottom: 200px;
	margin: 0 auto;
}
.img_face_eyes1{
	position: relative;
	background-color: black;
	width : 10px;
	height : 30px;
	border-radius: 50%;
	bottom: 330px;
	left: 200px;
}
.img_face_eyes2{
	position: relative;
	background-color: black;
	width : 10px;
	height : 30px;
	border-radius: 50%;
	bottom: 360px;
	left: 250px;
}
.img_kamain {
	position: absolute;
	background-color: dimgray;
	width: 140px;
	height: 90px;
	bottom: 380px;
	left: 250px;
}
.img_kamain_1 {
	position: absolute;
	background-color: lightgray;
	width: 140px;
	height: 20px;
	bottom: 450px;
	left: 250px;
}
.img_kam0 {
	position: absolute;
	background-color: lightgray;
	width: 65px;
	height: 65px;
	border-radius: 100px;
	bottom: 382.5px;
	left: 287.5px;
}
.img_kam01 {
	position: absolute;
	background-color: black;
	width: 55px;
	height: 55px;
	border-radius: 100px;
	bottom: 387px;
	left: 292.5px;
}
.img_kamm {
	position: absolute;
	background-color: dimgray;
	width: 20px;
	height: 10px;
	bottom: 470px;
	left: 260px;
}
.img_kamm1 {
	position: absolute;
	background-color: magenta;
	width: 5px;
	height: 5px;
	bottom: 460px;
	left: 260px;
}

.m-img_face {
	position: absolute;
	background: radial-gradient( lightyellow 5%, yellow 50px);
	width : 100px;
	height : 100px;
	border-radius: 50%;
	bottom: 400px;
	margin: 0 auto;
}
.m-img_face_eyes1{
	position: absolute;
	background-color: black;
	width : 5px;
	height : 10px;
	border-radius: 50%;
	bottom: 450px;
	left: 380px;
}
.m-img_face_eyes2{
	position: absolute;
	background-color: black;
	width : 5px;
	height : 10px;
	border-radius: 50%;
	bottom: 450px;
	left: 410px;
}
.m-img_kamain {
	position: absolute;
	background-color: dimgray;
	width: 100px;
	height: 60px;
	bottom: 390px;
	left: 280px;
}
.m-img_kamain_1 {
	position: absolute;
	background-color: lightgray;
	width: 100px;
	height: 10px;
	bottom: 440px;
	left: 280px;
}
.m-img_kam0 {
	position: absolute;
	background-color: lightgray;
	width: 45px;
	height: 45px;
	border-radius: 100px;
	bottom: 392px;
	left: 305px;
}
.m-img_kam01 {
	position: absolute;
	background-color: black;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	bottom: 394.5px;
	left: 307.5px;
}
.m-img_kamm {
	position: absolute;
	background-color: dimgray;
	width: 10px;
	height: 5px;
	bottom: 450px;
	left: 285px;
}
.m-img_kamm1 {
	position: absolute;
	background-color: magenta;
	width: 3px;
	height: 3px;
	bottom: 445px;
	left: 285px;
}

.m-img_div {
	text-decoration: none;
	color: inherit;
	font-size: 130%;
	line-height : 300%;
	position: absolute;
	text-align: center;
	bottom: 15%;
}
.m-start {
	color: red;
}

.m-ss {
	color: gray;
}
.m- {
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
 	border-left: 20px solid yellow;
	border-right: 20px solid transparent;
	bottom: 210px;
	right: 80px;
	animation: blink-effect 1s step-end infinite;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.yu_back {
	padding: 10px;
	position: relative;
}

.yu_6 {
	position: absolute;
	top: 140px;
	left: 400px;
	margin: 10px;
}

.yup6 {
	font-size: 10px;
	position: absolute;
	top: 200px;
	left: 400px;
	background: white;
	width: 160px;
}

.yu6 {
	position: absolute;
	top: 150px;
	left: 90px;
}

.yup5 {
	font-size: 10px;
	position: absolute;
	top: 50px;
	left: 610px;
	background: white;
	width: 160px;
}

.yu_page5 {
	position: relative;
	top: -150px;
	left: 200px;
}

.yu_5 {
	position: absolute;
	top: 0px;
	left: 600px;
	margin: 10px;
}

.yu5 {
	position: absolute;
	top: 0px;
	left: 300px;
}

.yup7 {
	font-size: 10px;
	position: absolute;
	top: -800px;
	left: 670px;
	background: white;
	width: 160px;
}

.yu_page7 {
	position: relative;
	top: -1100px;
	left: 600px;
}

.yu_7 {
	position: absolute;
	top: -1060px;
	left: 800px;
	margin: 10px;
}

.yu7{
	position: absolute;
	top: -1000px;
	left: 665px;
}





.ty_1 {
	position: absolute;
	top: 140px;
	left: 300px;
	margin: 10px;
}

.typ1 {
	font-size: 13px;
	position: absolute;
	top: 200px;
	left: 300px;
	background: white;
	width: 250px;
}

.ty1 {
	position: absolute;
	top: 150px;
	left: 90px;
}

.typ2 {
	font-size: 13px;
	position: absolute;
	top: 700px;
	left: 480px;
	background: white;
	width: 250px;
}

.ty_page2 {
	position: relative;
	top: -150px;
	left: 200px;
}

.ty_2 {
	position: absolute;
	top: 630px;
	left: 480px;
	margin: 10px;
}

.ty2 {
	position: absolute;
	top: 540px;
	left: 280px;
}


.typ4 {
	font-size: 13px;
	position: absolute;
	top: 130px;
	left: 670px;
	background: white;
	width: 190px;
}

.ty_page4 {
	position: relative;
	top: -1100px;
	left: 600px;
}

.ty_4 {
	position: absolute;
	top: 80px;
	left: 660px;
	margin: 10px;
}

.ty4{
	position: absolute;
	top: 300px;
	left: 655px;
}

.typ3 {
	font-size: 13px;
	position: absolute;
	top: 810px;
	left: 940px;
	background: white;
	width: 300px;
}

.ty_page3 {
	position: relative;
	top: -1100px;
	left: 700px;
}

.ty_3 {
	position: absolute;
	top: 900px;
	left: 1150px;
	margin: 10px;
}

.ty3{
	position: absolute;
	top: 670px;
	left: 780px;
}

.typ10 {
	font-size: 13px;
	position: absolute;
	top: 300px;
	left: 1060px;
	background: white;
	width: 260px;
}

.ty_page10 {
	position: absolute;
	top: 160px;
	left: 1000px;
}

.ty_10 {
	position: absolute;
	top: 200px;
	left: 1210px;
	margin: 10px;
}

.ty10{
	position: absolute;
	top: 450px;
	left: 1055px;
}

.typ9 {
	font-size: 13px;
	position: absolute;
	top: 830px;
	left: 70px;
	background: white;
	width: 250px;
}

.ty_page9 {
	position: absolute;
	top: 550px;
	left: 10px;
}

.ty_9 {
	position: absolute;
	top: 780px;
	left: 60px;
	margin: 10px;
}

.ty9 {
	position: absolute;
	top: 580px;
	left: 65px;
}

.typ8 {
	font-size: 13px;
	position: absolute;
	top: 920px;
	left: 440px;
	background: white;
	width: 250px;
}

.ty_page8 {
	position: absolute;
	top: 750px;
	left: 360px;
}

.ty_8 {
	position: absolute;
	top: 865px;
	left: 630px;
	margin: 10px;
}

.ty8 {
	position: absolute;
	top: 865px;
	left: 740px;
}




.ctrlW {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
}